{% extends 'base.html' %}

{% block head %}
	<title>Todo Menu</title>
{% endblock %}

{% block body %}
<div class="main-content">
	<h1>Todo Menu</h1>
	<table class="table-content">
		<tr>
			<td>Content</td>
			<td>Date created</td>
			<td>Options</td>
		</tr>
		{% for todo in todos %}
		<tr>
			<td>{{ todo.content }}</td>
			<td>{{ todo.date_created }}</td>
			<td>
				<a href="/delete/{{ todo.id }}">Delete</a>
				<br>
				<a href="/update/{{ todo.id }}">Update</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<form action="/" method="POSt" accept-charset="utf-8">
		<input type="text" name="content">
		<input type="submit">
	</form>
</div>
{% endblock %}